<div class="house-info">
	<div class="image-header p-r">
		<img class="p-a" src="http://b.pic1.ajkimg.com/display/anjuke/3cbce2-%E5%B0%8A%E5%9B%AD%E5%9C%B0%E4%BA%A7/5f8513a6fbd3444fa532f7f0bbf350e7-599x450.jpg?t=1" alt="">
	</div>
	<div class="title bg-w">
		<h2>北市区精装修别墅送车位,送200平花园260万急售</h2>
	</div>
	<div class="excerpt bg-w">
		<ul>
			<li class="block">
				<h2>188万</h2>
				<div class="content">
					<span>售价</span>
				</div>
			</li>
			<li class="block">
				<h2>4室2厅3卫</h2>
				<div class="content">
					<span>房型</span>
				</div>
			</li>
			<li class="block">
				<h2>192平米</h2>
				<div class="content">
					<span>面积</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="detail bg-w">
		<ul>
			<li>
				<div>
					<label for="">单价:</label>
					<span>9792元/平米</span>
				</div>
				<div>
					<label for=""></label>
					<span></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">楼层:</label>
					<span>共一层</span>
				</div>
				<div>
					<label for="">朝向:</label>
					<span>南北</span>
				</div>
			</li>
			<li>
				<div>
					<label for="">类型:</label>
					<span>别墅</span>
				</div>
				<div>
					<label for="">装修:</label>
					<span>简单装修</span>
				</div>
			</li>
			<li>
				<div>
					<label for="">年代:</label>
					<span>2015</span>
				</div>
				<div>
					<label for="">发布:</label>
					<span>2017-03-13</span>
				</div>
			</li>
		</ul>
	</div>
</div>