<div class="house-info">
	<div class="image-header p-r">
		<div class="icon-wrapper p-a">
			<div class="bg d-ib ta-c p-r" ng-click="back();">
				<span class="iconfont icon-return p-a"></span>
			</div>
			<div class="bg d-ib ta-c p-r f-r">
				<span class="iconfont icon-share p-a"></span>
			</div>
			<div class="bg d-ib ta-c p-r f-r">
				<span class="iconfont icon-star p-a"></span>
			</div>
		</div>
		<ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-transition="hexagon" rn-carousel-auto-slide class="image p-a">
		  <li ng-repeat="img in house.imgs">
		    <div class="layer">
		    	<img ng-src="{{img}}" alt="" show-on-load ng-show="visible">
		    </div>
		  </li>
		</ul>
		<div class="indicators p-a ta-c" rn-carousel-indicators ng-if="house.imgs" slides="house.imgs" rn-carousel-index="carouselIndex"></div>
	</div>
	<div class="title bg-w">
		<h2 ng-bind="house.name"></h2>
	</div>
	<div class="excerpt bg-w">
		<ul>
			<li class="block">
				<h2 ng-bind="house.totalPrice+(house.methodId=='m2'?'万':'元／月')"></h2>
				<div class="content">
					<span ng-bind="house.methodId=='0'?'租金':'售价'"></span>
				</div>
			</li>
			<li class="block">
				<h2 ng-bind="house.type">4室2厅3卫</h2>
				<div class="content">
					<span>房型</span>
				</div>
			</li>
			<li class="block">
				<h2 ng-bind="house.area+'平米'"></h2>
				<div class="content">
					<span>面积</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="detail bg-w">
		<ul>
			<li>
				<div>
					<label for="" ng-bind="(house.methodId=='0'?'租金':'单价')+':'"></label>
					<span ng-bind="house.price+(house.methodId=='0'?'元/月':'元/平米')"></span>
				</div>
				<div ng-show="house.methodId=='0'">
					<label for="" >租赁:</label>
					<span ng-bind="house.renting"></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">楼层:</label>
					<span ng-bind="house.floor"></span>
				</div>
				<div>
					<label for="">朝向:</label>
					<span ng-bind="house.direction"></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">类型:</label>
					<span ng-bind="house.entireType"></span>
				</div>
				<div>
					<label for="">装修:</label>
					<span ng-bind="house.decoration"></span>
				</div>
			</li>
			<li>
				<div ng-show="house.methodId=='0'">
					<label for="">押付:</label>
					<span ng-bind="house.pay"></span>
				</div>
				<div ng-show="house.methodId=='m2'">
					<label for="">年代:</label>
					<span ng-bind="house.years"></span>
				</div>
				<div>
					<label for="">发布:</label>
					<span ng-bind="house.publishAt"></span>
				</div>
			</li>
		</ul>
	</div>
</div>