<div class="house-info">
	<div class="image-header p-r">
		<img class="p-a" src="http://b.pic1.ajkimg.com/display/anjuke/3cbce2-%E5%B0%8A%E5%9B%AD%E5%9C%B0%E4%BA%A7/5f8513a6fbd3444fa532f7f0bbf350e7-599x450.jpg?t=1" alt="">
	</div>
	<div class="title bg-w">
		<h2 ng-bind="house.name"></h2>
	</div>
	<div class="excerpt bg-w">
		<ul>
			<li class="block">
				<h2 ng-bind="house.totalPrice+'万'"></h2>
				<div class="content">
					<span>售价</span>
				</div>
			</li>
			<li class="block">
				<h2 ng-bind="house.type">4室2厅3卫</h2>
				<div class="content">
					<span>房型</span>
				</div>
			</li>
			<li class="block">
				<h2 ng-bind="house.area+'平米'"></h2>
				<div class="content">
					<span>面积</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="detail bg-w">
		<ul>
			<li>
				<div>
					<label for="">单价:</label>
					<span ng-bind="house.price+'元/平米'"></span>
				</div>
				<div>
					<label for=""></label>
					<span></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">楼层:</label>
					<span ng-bind="house.floor"></span>
				</div>
				<div>
					<label for="">朝向:</label>
					<span ng-bind="house.direction"></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">类型:</label>
					<span ng-bind="house.entireType"></span>
				</div>
				<div>
					<label for="">装修:</label>
					<span ng-bind="house.decoration"></span>
				</div>
			</li>
			<li>
				<div>
					<label for="">年代:</label>
					<span ng-bind="house.years"></span>
				</div>
				<div>
					<label for="">发布:</label>
					<span ng-bind="house.publishAt"></span>
				</div>
			</li>
		</ul>
	</div>
</div>