<div class="house-desc bg-w">
	<div class="title">
		<h2>房源概况</h2>
	</div>
	<div class="contact bg-w">
		<img class="f-l" src="http://placehold.it/45x45" alt="">
		<div class="rows">
			<span ng-bind="house.manager.name"></span>
			<span ng-bind="house.manager.corp"></span>
		</div>
	</div>
	<div class="desc">
		<div class="block" ng-repeat="block in house.desc">
			<h2 class="sub-title no-mt" ng-bind="block.name"></h2>
			<div class="content">
				<p ng-repeat="p in block.content" ng-bind="p"></p>
			</div>
		</div>
	</div>
</div>