@import '../variable.less';

.head{
	position: fixed;
	background-color: @headBgColor;
	top: 0;
	left: 0;
	right: 0;
	.h(40);
	.lh(40);
	padding: 0 7px;
	.dropdown{
		.text{
			color: @defaultColor;
		}
		.caret{
			display: inline-block;
		    width: 0;
		    height: 0;
		    color: @defaultColor;
		   	.mt(1);
		    vertical-align: middle;
		    border-top: 4px dashed;
		    border-top: 4px solid\9;
		    border-right: 4px solid transparent;
		    border-left: 4px solid transparent;
		}
	}
	.back-btn{
		.fs(25);
    	width: 1rem;
    	left: 0;
	}
}