<div class="me p-r">
	<div class="login-head ta-c p-a">
		<div class="avatar">
			<img ng-src="/image/login.jpg" alt="">
			<div class="text">
				<span class="d-ib">登录</span>
				<span class="d-ib">注册</span>
			</div>
		</div>
		<ul class="stat">
			<li class="block">
				<h2>3</h2>
				<div class="content">
					<span>收藏</span>
				</div>
			</li>
			<li class='block'>
				<h2>0</h2>
				<div class="content">
					<span>订阅</span>
				</div>
			</li>
			<li class="block">
				<h2>21</h2>
				<div class="content">
					<span>历史记录</span>
				</div>
			</li>
			<li class="block">
				<h2>0</h2>
				<div class="content">
					<span>积分</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="history bg-w p-a">
		<h2>最新浏览</h2>
	</div>

	<div class="icons-wrapper bg-w p-a">
		<ul>
			<li class="ta-c">
				<span class="iconfont d-b icon-coupon"></span>
				<span class="text">优惠</span>
			</li>
			<li class="ta-c">
				<span class="iconfont d-b icon-order"></span>
				<span class="text">订单</span>
			</li>
			<li class="ta-c">
				<span class="iconfont d-b icon-collect"></span>
				<span class="text">收藏</span>
			</li>
		</ul>
		<ul>
			<li class="ta-c">
				<span class="iconfont d-b icon-assess"></span>
				<span class="text">估价</span>
			</li>
			<li class='ta-c'>
				<span class="iconfont d-b icon-sell-house"></span>
				<span class="text">卖房</span>
			</li>
			<li class="ta-c">
				<span class="iconfont d-b icon-question"></span>
				<span class="text">问答</span>
			</li>
		</ul>
		<ul>
			<li class="ta-c">
				<span class="iconfont d-b icon-cal"></span>
				<span class="text">房贷计算</span>
			</li>
			<li class="ta-c">
				<span class="iconfont d-b icon-look-house"></span>
				<span class="text">看房记录</span>
			</li>
			<li class="ta-c">
				<span class="iconfont d-b icon-suggest"></span>
				<span class="text">意见反馈</span>
			</li>
		</ul>
	</div>
</div>

<div app-foot></div>