<div class="login-head ta-c">
	<div class="avatar">
		<img ng-src="/image/login.jpg" alt="">
		<div class="text">
			<span class="d-ib">登录</span>
			<span class="d-ib">注册</span>
		</div>
	</div>
	<ul class="stat">
		<li class="block">
			<h2>3</h2>
			<div class="content">
				<span>收藏</span>
			</div>
		</li>
		<li class='block'>
			<h2>0</h2>
			<div class="content">
				<span>订阅</span>
			</div>
		</li>
		<li class="block">
			<h2>21</h2>
			<div class="content">
				<span>历史记录</span>
			</div>
		</li>
		<li class="block">
			<h2>0</h2>
			<div class="content">
				<span>积分</span>
			</div>
		</li>
	</ul>
</div>

<div app-foot></div>